<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genweb2.projecttracker.persistence.EpicMapper">
    
    <select id="getAllEpic" parameterType="map" resultType="Project">
        SELECT
          e.EpicID,
          e.ProjectID,
          e.ShortName,
          e.Description,
          e.StartDate,
          e.EndDate,
          e.ActualStartDate,
          e.ActualEndDate,
          e.Status
        FROM Epic e
        WHERE 1 = 1
        <if test="projectID != null"> AND e.ProjectID = #{projectID} </if>
    </select>

    <insert id="create" parameterType="Project">
        INSERT INTO Epic(
              ProjectID,
              ShortName,
              Description,
              StartDate,
              EndDate,
              ActualStartDate,
              ActualEndDate,
              Status
          )VALUES (
              #{project.projectID},
              #{shortName},
              #{description},
              #{startDate},
              #{endDate},
              #{actualStartDate},
              #{actualEndDate},
              #{status}
          )
    </insert>

    <!--<update id="update" parameterType="Project">
        UPDATE Project SET
          ShortName =  #{shortName},
          Description =  #{description},
          StartDate =  #{startDate},
          EndDate =  #{endDate},
          ActualStartDate =  #{actualStartDate},
          ActualEndDate =  #{actualEndDate},
          Status =  #{status}
        WHERE ProjectID = #{projectID}
    </update>-->
</mapper>