<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genweb2.projecttracker.persistence.ResourceMapper">

    <select id="getAllResources" resultType="Resource">
        SELECT
          r.ResourceID,
          r.ResourceName,
          r.MonthlySalary,
          r.OverheadRatio,
          r.BillingRate
        FROM Resource r
    </select>

    <insert id="create" parameterType="Resource">
        INSERT INTO Resource(
              ResourceName,
              MonthlySalary,
              OverheadRatio,
              BillingRate
          )VALUES (
              #{resourceName},
              #{monthlySalary},
              #{overheadRatio},
              #{billingRate}
          )
    </insert>

    <update id="update" parameterType="Resource">
        UPDATE Resource SET
            ResourceName = #{resourceName},
            MonthlySalary = #{monthlySalary},
            OverheadRatio = #{overheadRatio},
            BillingRate = #{billingRate}
        WHERE ResourceID = #{resourceID}
    </update>
</mapper>