<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.genweb2.projecttracker.persistence.TaskMapper">
    
    <select id="getAllTask" parameterType="map" resultType="Task">
        SELECT
          t.TaskID,
          t.StoryID,
          t.ShortName,
          t.Description,
          t.StartDate,
          t.EndDate,
          t.ActualStartDate,
          t.ActualEndDate,
          t.Status
        FROM Task t
        WHERE 1 = 1
        <if test="storyID != null"> AND t.StoryID = #{storyID} </if>
    </select>

    <insert id="create" parameterType="Task">
        INSERT INTO Task(
              StoryID,
              ShortName,
              Description,
              StartDate,
              EndDate,
              ActualStartDate,
              ActualEndDate,
              Status
          )VALUES (
              #{story.storyID},
              #{shortName},
              #{description},
              #{startDate},
              #{endDate},
              #{actualStartDate},
              #{actualEndDate},
              #{status}
          )
    </insert>
</mapper>