<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Project" type="com.genweb2.projecttracker.vo.Project"/>
        <typeAlias alias="Epic" type="com.genweb2.projecttracker.vo.Epic"/>
        <typeAlias alias="Story" type="com.genweb2.projecttracker.vo.Story"/>
        <typeAlias alias="Task" type="com.genweb2.projecttracker.vo.Task"/>
        <typeAlias alias="Resource" type="com.genweb2.projecttracker.vo.Resource"/>
        <typeAlias alias="ProjectResource" type="com.genweb2.projecttracker.vo.ProjectResource"/>

    </typeAliases>

</configuration>