<app-page-header [heading]="'Projects'" [icon]="fa-list"></app-page-header>
<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">Project List</div>
                    <div class="col-sm-4">
                        <button class="btn btn-sm btn-info pull-right" (click) = "open(content, null)">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actual Start Date</th>
                        <th>Actual End Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let project of projects'>
                        <td width="15%">{{ project.shortName }}</td>
                        <td width="25%">{{ project.description }}</td>
                        <td width="5%">{{ project.startDate }}</td>
                        <td width="5%">{{ project.endDate }}</td>
                        <td width="17%">{{ project.actualStartDate }}</td>
                        <td width="18%">{{ project.actualEndDate }}</td>
                        <td width="15%">
                            <button class="btn btn-sm btn-warning" (click)="open(content, project)">Edit</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add New Project</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Project Name</label>
                    <input name="projectName" [(ngModel)]="selectedProject.shortName" class="form-control input-sm" placeholder="Enter text" />
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Project Description</label>
                    <input name="projectDesc" [(ngModel)]="selectedProject.description"  class="form-control input-sm" placeholder="Enter text">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="selectedProject.startDate" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-addon" (click)="d1.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Actual Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="actualStartDate" [(ngModel)]="selectedProject.actualStartDate" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-addon" (click)="d2.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="selectedProject.endDate" ngbDatepicker #d3="ngbDatepicker">
                        <div class="input-group-addon" (click)="d3.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Actual End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="actualEndDate" [(ngModel)]="selectedProject.actualEndDate" ngbDatepicker #d4="ngbDatepicker">
                        <div class="input-group-addon" (click)="d4.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf="!(selectedProject.projectID > 0)" type="button" class="btn btn-secondary" (click)="createProject()">Save</button>
        <button *ngIf="selectedProject.projectID > 0" type="button" class="btn btn-secondary" (click)="updateProject()">Update</button>
    </div>
</ng-template>
