<app-page-header [heading]="'Projects'" [icon]="fa-list"></app-page-header>
<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">Project List</div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Actual Start Date</th>
                        <th>End Date</th>
                        <th>Actual End Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>FAMS (ERD)</td>
                        <td>A project from finance ministry of Bangladesh</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>
                            <a class="btn btn-info">Add</a>
                            <a class="btn btn-warning">Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>eMobile Court</td>
                        <td>A project form A2I</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>15/06/2015</td>
                        <td>
                            <a class="btn btn-info">Add</a>
                            <a class="btn btn-warning">Edit</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
