<app-page-header [heading]="'Epics'" [icon]="fa-list"></app-page-header>

<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="">Project:</label>
                                <div class="col-sm-8">
                                    <select name="projectName" class="form-control input-sm">
                                        <option *ngFor="let project of projects" [ngValue]="project"> {{ project.shortName }}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-sm btn-info pull-right">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Epic Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actual Start Date</th>
                        <th>Actual End Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
