<app-page-header [heading]="'Epics'" [icon]="fa-list"></app-page-header>

<div class="row">
    <div class="col col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="">Project:</label>
                                <div class="col-sm-8">
                                    <select name="projectName" [(ngModel)]="selectedProject" class="form-control input-sm" (change)="onProjectChange()">
                                        <option *ngFor="let project of projects" [ngValue]="project"> {{ project.shortName }}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-sm btn-info pull-right" (click) = "open(content, null)">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Epic Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actual Start Date</th>
                        <th>Actual End Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let epic of epics'>
                        <td width="15%">{{ epic.shortName }}</td>
                        <td width="25%">{{ epic.description }}</td>
                        <td width="5%">{{ epic.startDate }}</td>
                        <td width="5%">{{ epic.endDate }}</td>
                        <td width="17%">{{ epic.actualStartDate }}</td>
                        <td width="18%">{{ epic.actualEndDate }}</td>
                        <td width="18%">{{ epic.status }}</td>
                        <td width="15%">
                            <button class="btn btn-sm btn-warning" (click)="open(content, project)">Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add New Epic</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Project</label>
                    <select name="project" [(ngModel)]="epic.project" class="form-control input-sm">
                        <option *ngFor="let project of projects" [ngValue]="project"> {{ project.shortName }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Epic Name</label>
                    <input name="epicName" [(ngModel)]="epic.shortName"  class="form-control input-sm" placeholder="Enter a epic name">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Epic Description</label>
                    <input name="epicDesc" [(ngModel)]="epic.description"  class="form-control input-sm" placeholder="Enter a epic description">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="epic.startDate" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-addon" (click)="d1.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Actual Start Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="actualStartDate" [(ngModel)]="epic.actualStartDate" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-addon" (click)="d2.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="epic.endDate" ngbDatepicker #d3="ngbDatepicker">
                        <div class="input-group-addon" (click)="d3.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset class="form-group">
                    <label>Actual End Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="actualEndDate" [(ngModel)]="epic.actualEndDate" ngbDatepicker #d4="ngbDatepicker">
                        <div class="input-group-addon" (click)="d4.toggle()">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf="!(epic.epicID > 0)" type="button" class="btn btn-secondary" (click)="createEpic()">Save</button>
        <button *ngIf="epic.epicID > 0" type="button" class="btn btn-secondary" (click)="updateEpic()">Update</button>
    </div>
</ng-template>
